DEMO_MODE=true
DEMO_USER_EMAIL=demo@email.com
APP_NAME=perfumeryOS
APP_ENV=local
APP_DEBUG=true
APP_URL=https://localhost
APP_KEY=
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

SCOUT_DRIVER=tntsearch
SCOUT_QUEUE=false
